.page-footer {
  color: DarkSlateGray;

  .litlab-logo {
    display: block;
    height: 35px;

    img {
      display: block;
    }
  }

  .litlab-name {
    font-size: $font-size-sm;
    margin: 0;
  }
  
  .footer-links {
    font-size: $font-size-sm;
    list-style: none;
    margin: 0;
    padding: 0 $spacing-normal 0 0;
  }  
}