.pricing-chart {
  display: grid;
  gap: 0;
  grid-template-columns: 30% 40% 30%;
  margin: $spacing-lg 0;
  padding: 0;

  // *:not(h2):not(h3):not(h4):not(h5):not(h6) {
  //   font-size: $font-size-sm;
  // }

  > * {
    background-color: Snow;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: $spacing-md;

    > :first-child,
    > :first-child :first-child {
      margin-top: 0;
    }

    > :last-child,
    > :last-child :last-child {
      margin-bottom: 0;
    }
  }

  > :first-child,
  .page-content & > :first-child,
  > :last-child,
  .page-content & > :last-child {
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
  }

  > :first-child {
    border-radius: $border-radius 0 0 $border-radius;
    border-right: 0;
  }

  > :last-child {
    border-left: 0;
    border-radius: 0 $border-radius $border-radius 0;
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 100%;
    gap: $spacing-normal;

    > :first-child,
    .page-content & > :first-child,
    > :last-child,
    .page-content & > :last-child {
      border: $border;
      border-radius: $border-radius;
      margin: 0;
    }
  }

  h2,
  h3 {    
    .bi {
      background-color: $suffolk-gold;
      border-radius: 9999px;
      color: White;
      display: grid;
      height: 1.5lh;
      padding: .25lh;
      place-content: center;
      width: 1.5lh;
    }
  }

  hr {
    margin: $spacing-md 0;
    position: relative;
      left: -$spacing-md;
    width: calc(100% + 2 * $spacing-md);
  }

  p {
    &:has(+ ol),
    &:has(+ ul) {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: $spacing-sm;
    }
  }
}