.color-suffolk-blue {
  color: $suffolk-blue;
}

.color-suffolk-gold {
  color: $suffolk-gold;
}

.bg-suffolk-blue {
  background-color: $suffolk-blue;
}

.bg-suffolk-gold {
  background-color: $suffolk-gold;
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.screen-only {
  @media print {
    display: none !important;
  }
}

.print-only {
  display: none !important;
}

.screen-reader-text {
  height: 1px;
  overflow: hidden;
  position: absolute;
    left: -9999px;
    top: auto;
  width: 1px;
}

ol,
ul {
  &.nobullets {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: $spacing-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}