.block {
  display: block;
}

.text-center {
  text-align: center;
}

.screen-only {
  @media print {
    display: none !important;
  }
}

.print-only {
  display: none !important;
}

.add-top-margin {
  margin-top: $spacing-normal;
}

.add-top-margin-md {
  margin-top: $spacing-md;
}

.add-top-margin-lg {
  margin-top: $spacing-lg;
}

.add-bottom-margin {
  margin-bottom: $spacing-normal;
}

.add-bottom-margin-md {
  margin-bottom: $spacing-md;
}

.add-bottom-margin-lg {
  margin-bottom: $spacing-lg;
}

.remove-top-margin {
  margin-top: 0 !important;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.screen-reader-text {
  height: 1px;
  overflow: hidden;
  position: absolute;
    left: -9999px;
    top: auto;
  width: 1px;
}

ol,
ul {
  &.nobullets {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: $spacing-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}