// Colors
$suffolk-blue: #13284c;
$suffolk-blue-dim: rgba(19, 40, 76, .8);
$suffolk-blue-light: rgba(19, 40, 76, .2);
$suffolk-gold: #bc912c;
$suffolk-gold-dim: rgba(188, 145, 44, .8);
$suffolk-gold-half: rgba(188, 145, 44, .5);
$suffolk-gold-light: rgba(188, 145, 44, .2);
$suffolk-purple: #6d2077;

$border: 1px solid rgba(0, 0, 0, .2);
$border-radius: 1.25rem;
$button-border: 2px solid currentColor;
$button-border-radius: 9999px;
$box-shadow: 5px 5px 0 rgba(0, 0, 0, .1);

$font-system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;

// Font Sizes
$font-size-xs: clamp(.64rem, 0.64rem + ((1vw - 0.2rem) * 0.318), .8rem);
$font-size-sm: clamp(.8rem, 0.8rem + ((1vw - 0.2rem) * 0.398), 1rem);
$font-size-normal: 1.125rem;
$font-size-md: clamp(1.25rem, 1.25rem + ((1vw - 0.2rem) * 0.623), 1.563rem);
$font-size-lg: clamp(1.563rem, 1.563rem + ((1vw - 0.2rem) * 0.776), 1.953rem);
$font-size-xl: clamp(1.953rem, 1.953rem + ((1vw - 0.2rem) * 0.971), 2.441rem);
$font-size-xxl: clamp(2.441rem, 2.441rem + ((1vw - 0.2rem) * 1.216), 3.052rem);
$font-size-huge: clamp(3.052rem, 3.052rem + ((1vw - 0.2rem) * 3.415), 4.768rem);

// Spacing
$spacing-normal: 1rem;
$spacing-sm: calc(.75 * $spacing-normal);
$spacing-xs: calc(.75 * $spacing-sm);
$spacing-md: calc(1.5 * $spacing-normal);
$spacing-lg: calc(1.5 * $spacing-md);
$spacing-xl: calc(1.5 * $spacing-lg);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;