@page {
  margin: 0;
  size: 8.5in 11in;

  :header,
  :footer {
    display: none;
  }
}

html {
  font-size: 80%;
}

body {
  background-color: unset;
}

#document-header {
  .litlab-logo {
    height: 68px;
  }

  &::after {
    display: none;
  }

  + .page-content {
    margin-top: 0;
  }
}

.page {
  max-height: 1vh;
  overflow: hidden;

  &:after {
    display: none !important;
  }
}

.grid {
  &.cols-1 {
    grid-template-columns: auto;
  }
  
  &.cols-2-1 {
    grid-template-columns: 3fr 2fr;
  }
  
  &.cols-1-2 {
    grid-template-columns: 2fr 3fr;
  }
  
  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  &.cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

.browser-only {
  display: none;
}

.print-only {
  display: inherit !important;
}